.dropzone {
  background-color: #2ecc71;
  border: 3px dashed #F0f0f0;
  cursor: pointer;
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 600px;
  height: 300px;
}

.dropzone img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}